{{ 'groo_mentors.css' | asset_url | stylesheet_tag }}

<section class="mentors">
   <h2 class="title_mentors">
    {{ section.settings.title_mentors }}
  </h2>
  <p class="text_mentors">{{ section.settings.text_mentors }}</p>
  
  <div class="mentors_container">
    {% for block in section.blocks %}
      <div class="mentors_item">
        <div class="svg_mentors">
          {{ block.settings.image_card | image_url: width: number | image_tag: class: 'svg', loading: 'lazy' }}
        </div>
        <h2 class="card_title">{{ block.settings.title_card }}</h2>
        <p class="card_text">{{ block.settings.text_card }}</p>
        <p class="card_text txt_descrip">{{ block.settings.text_card_2 }}</p>
      </div>
    {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "groo_mentors",
  "settings": [
    {
      "type": "text",
      "id" : "title_mentors",
      "label": "Title"
    },
    {
      "type": "text",
      "id" : "text_mentors",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_card",
          "label": "Image Card"
        },
        {
          "type": "text",
          "id": "title_card",
          "label": "Title Card"
        },
        {
          "type": "text",
          "id": "text_card",
          "label": "Description Card"
        },
        {
          "type": "text",
          "id" : "text_card_2",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
